.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #64748b;
    height: 80px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #FFC107;
    border: 2px solid #FFC107;
    padding: 10px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    transition: color 0.3s;
    margin-right: 50px;
  }
  
  .nav-links a:hover {
    color: #FFC107;
  }

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      gap: 10px;
      height: 100px;
    }
    .logo {
      font-size: 16px;
      
    }

    .nav-links a{
            font-size: 16px;
            margin-right: 10px;
    }
   
  }
  